* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #FAFAFA;
}

body div#root {
  height: 100%;
  font-family: sans-serif;
}

body .grid {
  height: 100%;
}

// .column {
//   max-width: 1000px !important;
//   // border: 1px solid black;
// }