* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #FAFAFA;
}

body div#root {
  height: 100%;
  font-family: sans-serif;
}

body .grid {
  height: 100%;
}

.column {
  height: 550px;
  max-width: 800px;
  border: 1px solid black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Titan One', cursive; */
  /* font-family: 'Slabo 27px', serif; */
}

p {
  font-family: sans-serif;
}
